<%= form_for(@libro_venta) do |f| %>
  <% if @libro_venta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libro_venta.errors.count, "error") %> prohibited this libro_venta from being saved:</h2>

      <ul>
      <% @libro_venta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :establecimiento_id %><br>
    <%= f.text_field :establecimiento_id %>
  </div>
  <div class="field">
    <%= f.label :mes %><br>
    <%= f.number_field :mes %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
