<p id="notice"><%= notice %></p>

<h1>Tipos De Gastos</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="1">Acción</th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_de_gastos.each do |tipo_de_gasto| %>
    <tr>
      <td><%= tipo_de_gasto.nombre %></td>
      <!--<td><%= link_to 'Show', tipo_de_gasto %></td>-->
      <td>
        <%= link_to edit_tipo_de_gasto_path(tipo_de_gasto) do %>
        <i class="material-icons">edit</i>
        <% end %>  

        <!--<td>
          <%= link_to tipo_de_gasto, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="material-icons red-text">delete</i>
          <% end %>
        </td>-->
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="actions row">
    <div class="col s4 offset-s4 center-align">
      <%= link_to 'Nuevo Tipo de Gasto', new_tipo_de_gasto_path, class:"btn waves-effect waves-teal" %>
    </div>
  </div>
  
