<%= form_for(@venta) do |f| %>
<% if @venta.errors.any? %>
<div class="card-panel">

  <p class="cyan-text text-darken-4">No se puede guardar la información:</p>

  <ul>
    <% @venta.errors.full_messages.each do |message| %>
    <li class="red-text -text-darken-4"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="input-field col s2 offset-s1">
    <i class="material-icons prefix">receipt</i>
    <%= f.label :documento %>
    <%= f.text_field :documento, autofocus: true, required: true %>
  </div>

  <div class="input-field col s2">
    <i class="material-icons prefix">list</i>
    <%= f.label :serie %>
    <%= f.text_field :serie, required: true %>
  </div>

  <div class="input-field col s2">
    <i class="material-icons prefix">format_list_numbered</i>
    <%= f.label :numero %>
    <%= f.number_field :numero, required: true %>
  </div>

  <div class="input-field col s2 offset-s1">
    <i class="material-icons prefix">date_range</i>
    <%= f.label :dia %>
    <%= f.number_field :dia, required: true, min: 1 , max: max_mes %>
  </div>
</div>
<div class="row">
  <div class="input-field col s4 offset-s2">
    <i class="material-icons prefix">vpn_key</i>
    <%= f.label :nit,"Nit(*)"%>
    <%= f.text_field :nit, autocomplete:"off"  %>
  </div>

  <div class="input-field col s4">
    <i class="material-icons prefix">assignment_ind</i>
    <%= f.label :nombre, "Nombre(*)"%>
    <%= f.text_field :nombre%>
  </div>

  <div class="row">
    <div class="col s4 offset-s1 center-align">
      <h2>Valor</h2>  
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s2">
      <%= f.label :bienes %>
      <%= f.number_field :bienes, placeholder: "Q0.00", step:0.01, min: 0.01 %>
    </div>
    <div class="input-field col s4">
      <%= f.label :servicios %>
      <%= f.number_field :servicios, placeholder:"Q0.00", step:0.01, min: 0.01 %>
    </div>
  </div>

  
  <div class="actions row">
    <div class="col s4 offset-s4 center-align">
      <%= f.submit class:"btn waves-effect waves-teal", value:"Enviar" %>
    </div>
  </div>
  <% end %>
