<%= form_for(@contribuyente) do |f| %>
<% if @contribuyente.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@contribuyente.errors.count, "error") %> prohibited this contribuyente from being saved:</h2>

  <ul>
    <% @contribuyente.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col s12">

    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">vpn_key</i>
        <%= f.text_field :nit, required: true %>
        <%= f.label :nit %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">account_box</i>
        <%= f.text_field :nombre, required: true %>
        <%= f.label "Nombre Completo" %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">phone</i>
        <%= f.text_field :telefono, required: true %>
        <%= f.label :telefono %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <i class="material-icons prefix">map</i>
        <%= f.text_field :departamento, required: true %>
        <%= f.label :departamento %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">place</i>
        <%= f.text_field :municipio, required: true %>
        <%= f.label :municipio %>
      </div>
      <div class="input-field col s4">
        <i class="material-icons prefix">terrain</i>
        <%= f.text_field :colonia, required: true %>
        <%= f.label :colonia %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2 offset-s3">
        <%= f.label :calle %>
        <%= f.text_field :calle, required: true %>
      </div>
      <div class="input-field col s2">
        <%= f.label :no_casa %>
        <%= f.text_field :no_casa, required: true %>
      </div>
      <div class="input-field col s2">
        <%= f.label :zona %>
        <%= f.number_field :zona, required: true %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <%= f.label :tipo_contribuyente %>
        <select name="contribuyente[tipo_contribuyente]" class="form-control">
                    <option value=""></option>
                    <option value="1">Normal</option>
                    <option value="2">Pequeño contribuyente</option>
            </select>
      </div>
    </div>
    <div class="actions row">
      <div class="col s4 offset-s4 center-align">
      <%= f.submit class:"btn waves-effect waves-teal", value:"Enviar" %>
      </div>
    </div>
  </div>
</div>
<% end %>
