<p id="notice"><%= notice %></p>

<h1>Contribuyentes Registrados</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Nit</th>
      <th>Nombre Completo</th>
      <th>Calle</th>
      <th>No casa</th>
      <th>Zona</th>
      <th>Colonia</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Telefono</th>
      <th>Tipo</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @contribuyentes.each do |contribuyente| %>
    <tr>
      <td><%= contribuyente.nit %></td>
      <td><%= contribuyente.nombre %></td>
      <td><%= contribuyente.calle %></td>
      <td><%= contribuyente.no_casa %></td>
      <td><%= contribuyente.zona %></td>
      <td><%= contribuyente.colonia %></td>
      <td><%= contribuyente.departamento %></td>
      <td><%= contribuyente.municipio %></td>
      <td><%= contribuyente.telefono %></td>
      <% if contribuyente.tipo_contribuyente ==  1 %>
        <td>Normal</td>  
      <% else %>
        <td>Pequeño</td>  
      <% end %>
      
      
      <!--<td><%= link_to 'Show', contribuyente %></td>-->
      <td>
        <%= link_to  edit_contribuyente_path(contribuyente) do %>
        <i class="material-icons">edit</i>
        <%end%>  
      </td>
      <td>
        <%= link_to contribuyente, method: :delete, data: { confirm: 'Estas Seguro/a?' } do %>
        <i class="material-icons red-text">delete</i>
        <%end%>  
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="actions row">
  <div class="col s4 offset-s4 center-align">
    <%= link_to 'Añadir Contribuyente', new_contribuyente_path, class:"btn waves-effect waves-teal" %>
  </div>
</div>